<?xml version="1.0" encoding="UTF-8"?> 
<!-- 开启配置文件变更扫描，10s一个周期 -->
<configuration debug="true" scan="true" scanPeriod="10 seconds">  
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- 使用spring profile -->
    <springProfile name="dev,staging">  
	    <logger name="com.example" level="DEBUG" additivity="false">  
	    	<appender-ref ref="CONSOLE"/>
	        <appender-ref ref="FILE"/>  
	    </logger>
    </springProfile>
    <springProfile name="production">  
	    <logger name="com.example" level="DEBUG" additivity="false">  
	        <appender-ref ref="CONSOLE"/>  
	        <appender-ref ref="FILE"/>  
	    </logger>
    </springProfile>
 </configuration>  