@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a, a:hover {
  text-decoration: none;
  color: #333; }

a, button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit; }

input[disabled] {
  color: #ccd1d9;
  border-color: #ccd1d9 !important;
  background: #f5f5f5 !important;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); }

button {
  outline: none;
  cursor: pointer; }

table {
  border-collapse: collapse; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 400; }

p {
  margin: 0 0 10px; }

body {
  font-family: "Microsoft YaHei";
  background-color: #ecf0f1;
  color: #333; }

.icon-img {
  width: 38px;
  height: 38px;
  color: blue;
  text-align: center;
  background-size: 100% 100% !important;
  float: left;
  position: relative;
  top: 2px;
  margin-right: 5px; }

.dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  z-index: 1050;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  background: #fff;
  line-height: 46px;
  border-right: 1px solid #e9e9e9;
  position: absolute;
  min-width: 160px;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  right: 30px;
  left: auto; }

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 50px;
  border: 1px solid transparent;
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #ecf0f1;
  box-shadow: -1px 12px 20px -16px #909090;
  top: 0; }
  .navbar .navbar-title {
    position: relative;
    float: left;
    color: #333;
    float: left;
    padding: 0 15px;
    margin-top: 20px; }
  .navbar .navbar-menu {
    float: right;
    margin-top: 20px;
    margin-bottom: 0; }
    .navbar .navbar-menu .navbar-item {
      float: left;
      display: inline-block;
      color: #787878;
      cursor: pointer;
      margin-right: 25px;
      font-size: 15px;
      vertical-align: middle;
      border-bottom: 2px solid transparent; }
    .navbar .navbar-menu .login img {
      width: 22px;
      height: 22px;
      line-height: 1;
      margin-right: 5px;
      border-radius: 100%;
      float: left; }
    .navbar .navbar-menu .login .dropdown-toggle {
      background-color: transparent;
      border: none;
      color: #787878;
      border-radius: 3px;
      margin-right: 25px; }
      .navbar .navbar-menu .login .dropdown-toggle i {
        display: inline-block;
        font: bold 14px/1 SimHei;
        -webkit-transform: rotate(90deg);
        position: relative;
        top: 1px;
        margin-left: 5px; }
        .navbar .navbar-menu .login .dropdown-toggle i:before {
          content: ">"; }
    .navbar .navbar-menu .dropdown-menu {
      padding: 0;
      margin-top: 2px;
      border-radius: 5px;
      display: none; }
      .navbar .navbar-menu .dropdown-menu li {
        white-space: nowrap;
        box-sizing: border-box;
        border-bottom: 1px solid #e6e9ed; }
        .navbar .navbar-menu .dropdown-menu li:hover, .navbar .navbar-menu .dropdown-menu li.active {
          background: #f9fbff; }
        .navbar .navbar-menu .dropdown-menu li:first-child {
          border-radius: 6px 6px 0  0; }
        .navbar .navbar-menu .dropdown-menu li:last-child {
          border-radius: 0  0 6px 6px; }
        .navbar .navbar-menu .dropdown-menu li a {
          line-height: 1.6;
          display: block;
          padding: 15px 18px;
          margin-right: 0;
          color: #656d78;
          border-color: #e6e9ed;
          border-width: 3px;
          font-size: 14px;
          vertical-align: middle;
          border-bottom: 2px solid transparent; }
        .navbar .navbar-menu .dropdown-menu li .text-muted {
          color: #ccc; }
        .navbar .navbar-menu .dropdown-menu li .icon-img {
          height: 14px;
          width: 14px;
          top: 3px; }

.plat-container {
  width: 100%;
  padding-left: 120px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plat-container .title-img {
    width: 120px;
    float: left; }
  .plat-container .img-section {
    width: 120px;
    float: left; }
    .plat-container .img-section img {
      border-radius: 20px;
      width: 120px;
      height: 120px; }
  .plat-container .title-has-img {
    margin-left: 135px; }
    .plat-container .title-has-img h2 {
      font-size: 24px; }
    .plat-container .title-has-img .sub-title {
      font-size: 17px;
      color: #777;
      font-size: 16px; }
    .plat-container .title-has-img .button-style {
      margin-top: 20px; }
    .plat-container .title-has-img hr {
      margin: 12px 0;
      border: 0;
      border-top: 1px solid #eee; }
    .plat-container .title-has-img .title-info {
      font-size: 13px; }
      .plat-container .title-has-img .title-info:after {
        content: "";
        display: table;
        clear: both; }
      .plat-container .title-has-img .title-info .text-muted {
        float: left;
        margin-right: 50px;
        color: #777; }
        .plat-container .title-has-img .title-info .text-muted .title-info-label {
          margin-right: 10px; }
      .plat-container .title-has-img .title-info a {
        color: #5d9cec; }

.side-menu {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 80px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  background-color: #3e474e;
  padding-top: 0; }
  .side-menu li {
    height: 50px;
    margin: 20px 10px;
    box-sizing: border-box;
    cursor: pointer; }
    .side-menu li .icon {
      height: 39px;
      width: 39px;
      margin: auto;
      position: relative;
      top: 5px; }
      .side-menu li .icon.cloud {
        background: url(../img/left_menu_icon.png) -42px -12px; }
      .side-menu li .icon.user-group {
        background: url(../img/left_menu_icon.png) -85px -12px; }
      .side-menu li .icon.host {
        background: url(../img/left_menu_icon.png) -130px -12px; }
      .side-menu li .icon.mirror {
        background: url(../img/left_menu_icon.png) -174px -12px; }
      .side-menu li .icon.application {
        background: url(../img/left_menu_icon.png) -217px -12px; }
      .side-menu li .icon.project {
        background: url(../img/left_menu_icon.png) -261px -12px; }
      .side-menu li .icon.service {
        background: url(../img/left_menu_icon.png) -305px -12px; }
      .side-menu li .icon.market {
        background: url(../img/left_menu_icon.png) -348px -12px; }
  .side-menu li.active, .side-menu li:hover {
    background-color: #353c43; }
    .side-menu li.active .cloud, .side-menu li:hover .cloud {
      background: url(../img/left_menu_icon.png) -42px 65px; }
    .side-menu li.active .user-group, .side-menu li:hover .user-group {
      background: url(../img/left_menu_icon.png) -85px 65px; }
    .side-menu li.active .host, .side-menu li:hover .host {
      background: url(../img/left_menu_icon.png) -130px 65px; }
    .side-menu li.active .mirror, .side-menu li:hover .mirror {
      background: url(../img/left_menu_icon.png) -174px 65px; }
    .side-menu li.active .application, .side-menu li:hover .application {
      background: url(../img/left_menu_icon.png) -217px 65px; }
    .side-menu li.active .project, .side-menu li:hover .project {
      background: url(../img/left_menu_icon.png) -261px 65px; }
    .side-menu li.active .service, .side-menu li:hover .service {
      background: url(../img/left_menu_icon.png) -305px 65px; }
    .side-menu li.active .market, .side-menu li:hover .market {
      background: url(../img/left_menu_icon.png) -348px 65px; }
  .side-menu li.user {
    bottom: 50px;
    position: absolute; }
    .side-menu li.user.active {
      background-color: #353c43; }

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent; }

.panel-default {
  border-color: #e5e5e5; }

.panel-body {
  padding: 15px; }

.top-table-container {
  padding-top: 16px; }

.top-table-toolbar {
  height: 50px;
  font-size: 14px; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.top-btn {
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  outline: none !important;
  background-image: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: "border-box";
  padding: 8px 17px;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px; }
  .top-btn.blue {
    color: #fff;
    border-color: #217ef2;
    background-color: #3890ff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.06)), to(rgba(255, 255, 255, 0.06))), -webkit-gradient(linear, left bottom, left top, from(rgba(9, 109, 236, 0.5)), to(rgba(76, 155, 255, 0.5)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), -webkit-linear-gradient(bottom, rgba(9, 109, 236, 0.5), rgba(76, 155, 255, 0.5));
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0, rgba(255, 255, 255, 0.06)), linear-gradient(0deg, rgba(9, 109, 236, 0.5) 0, rgba(76, 155, 255, 0.5));
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08), 0 1px 1px rgba(0, 0, 0, 0.08);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
    .top-btn.blue:hover {
      background-color: #337ad4; }
  .top-btn.red {
    margin-left: 10px;
    color: #fff;
    border-color: #e1342b;
    background-color: #f1483f;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.06)), to(rgba(255, 255, 255, 0.06))), -webkit-gradient(linear, left bottom, left top, from(rgba(213, 34, 24, 0.5)), to(rgba(242, 90, 82, 0.5)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), -webkit-linear-gradient(bottom, rgba(213, 34, 24, 0.5), rgba(242, 90, 82, 0.5));
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0, rgba(255, 255, 255, 0.06)), linear-gradient(0deg, rgba(213, 34, 24, 0.5) 0, rgba(242, 90, 82, 0.5));
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08), 0 1px 1px rgba(0, 0, 0, 0.08);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  .top-btn.green {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71; }
  .top-btn.ghost {
    color: #3d444f;
    border-color: #ccd1d9;
    background: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(255, 255, 255, 0.9);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); }
  .top-btn[disabled] {
    color: #c1c1c1;
    border-color: #ccd1d9 !important;
    background: none !important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(255, 255, 255, 0.9);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); }
  .top-btn.dark-blue {
    background: #398bce;
    color: #fff; }

.top-input {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: middle;
  font-size: 14px; }
  .top-input input {
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    outline: none;
    padding: 0 10px;
    width: 287px;
    height: 32px;
    color: #3d444f;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    box-shadow: none;
    background-color: #fff;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccd1d9;
    border-radius: 2px;
    line-height: 1;
    vertical-align: middle; }
  .top-input.search input {
    height: 32px;
    line-height: 30px;
    margin-right: 15px;
    width: 200px;
    border-radius: 17px;
    padding: 0 10px 0 30px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 8px center;
    box-sizing: border-box;
    background: url("data:image/svg+xml;utf8,<svg%20xmlns=%27http://www.w3.org/2000/svg%27%20fill=%27%239ba3af%27%20viewBox=%270%200%2032%2032%27><path%20d=%27M31.164,28.336l-8.39-8.39a12.024,12.024,0,1,0-2.828,2.828l8.39,8.39ZM3.5,13A9.5,9.5,0,1,1,13,22.5,9.511,9.511,0,0,1,3.5,13Z%27/></svg>") no-repeat 7px;
    background-size: 18px; }

.top-table-main {
  padding-right: 30px; }

.top-table {
  width: 100%; }
  .top-table thead {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }
  .top-table th {
    text-align: left;
    font-size: 14px;
    color: #787878;
    padding: 10px;
    font-weight: 400;
    white-space: nowrap; }
  .top-table th:first-child {
    padding-left: 24px; }
  .top-table tbody {
    background: #fff;
    border: 1px solid #e4e7ed; }
    .top-table tbody tr {
      border-bottom: 1px solid #f1f3f6; }
  .top-table td {
    white-space: nowrap;
    word-break: break-all;
    padding: 20px 10px;
    vertical-align: middle;
    text-align: left; }
  .top-table td.checkbox {
    min-width: 50px;
    width: 50px;
    display: table-cell;
    margin: 0; }
    .top-table td.checkbox input[type=checkbox] {
      position: relative;
      margin: 0; }
  .top-table td.left {
    text-align: left;
    width: 20%; }
  .top-table td.right {
    text-align: right;
    width: 15%; }
  .top-table td:last-child {
    padding-right: 24px; }
  .top-table td:first-child {
    padding-left: 24px; }
  .top-table .item-single-line {
    color: #333;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .top-table .item-link a {
    color: #3890ff; }

.top-pagination {
  margin: 20px 0; }
  .top-pagination .top-btn + .top-btn {
    margin-left: 10px; }
  .top-pagination .has-icon {
    padding-top: 7px;
    padding-bottom: 7px; }
  .top-pagination .dao-page-number {
    font-size: 14px;
    color: #787878;
    margin-left: 20px; }

.panel-page-header {
  font-size: 15px;
  border-color: #dee1e2; }
  .panel-page-header .edit-title-section h2 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 15px; }
  .panel-page-header p {
    color: #787878;
    font-size: 16px;
    margin-bottom: 15px; }

/**eidt椤甸潰**/
.setting-section {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e6e9ed;
  float: left;
  font-size: 14px;
  box-sizing: border-box; }
  .setting-section:nth-last-of-type(1) {
    border-bottom: none; }
  .setting-section .setting-label {
    margin-top: 0;
    float: left;
    width: 160px;
    font-weight: 700; }
    .setting-section .setting-label.with-input {
      margin-top: 6px; }
  .setting-section .setting-info {
    margin-left: 160px;
    vertical-align: top; }
    .setting-section .setting-info .text-muted {
      color: #9ba3af;
      margin: 0 0 10px; }
  .setting-section input {
    display: inline-block;
    max-width: 450px; }
  .setting-section .form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .setting-section .ghost-edit-area {
    width: 800px;
    margin: 0 auto; }

.edit-form {
  padding-bottom: 50px; }

/**tab椤甸潰**/
.top-tab-container .top-tab-toolbar {
  border-bottom: 1px solid  #e9ebef; }
  .top-tab-container .top-tab-toolbar li {
    float: left;
    cursor: pointer; }
    .top-tab-container .top-tab-toolbar li > a {
      color: #787878;
      border-width: 0;
      font-size: 16px;
      margin-right: 2px;
      line-height: 1.42857;
      border: 1px solid transparent;
      position: relative;
      display: block;
      padding: 10px 15px; }
      .top-tab-container .top-tab-toolbar li > a:hover {
        color: #555; }
    .top-tab-container .top-tab-toolbar li.active {
      border-bottom: 2px solid #000;
      font-weight: bold; }
      .top-tab-container .top-tab-toolbar li.active a {
        color: #555;
        text-decoration: none;
        border-width: 2px 1px 1px;
        border-style: solid;
        cursor: default; }

.top-tab-content .tab-pane {
  padding-top: 20px;
  padding-bottom: 20px; }
  .top-tab-content .tab-pane.detail .row-10 {
    width: 60%;
    margin: 0 auto; }
  .top-tab-content .tab-pane.mysevice h3 {
    font-weight: 400;
    font-size: 24px; }
  .top-tab-content .tab-pane .reason {
    width: 50%;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px; }
    .top-tab-content .tab-pane .reason .text-primary {
      color: #398bce; }
    .top-tab-content .tab-pane .reason .icon-img {
      width: 16px;
      height: 16px; }
    .top-tab-content .tab-pane .reason strong {
      float: left; }
.top-tab-content .row-10 {
  margin: 0 -10px 0 -10px; }
  .top-tab-content .row-10 a {
    display: block;
    width: 33%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box; }
    .top-tab-content .row-10 a:nth-child(3n+3) {
      padding-right: 0; }

.service-card {
  -webkit-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-bottom-width: 2px;
  border-radius: 5px;
  padding: 10px;
  height: 120px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  box-sizing: border-box; }
  .service-card .img {
    width: 60px;
    height: 60px;
    float: left; }
    .service-card .img img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      vertical-align: middle; }
  .service-card .summary {
    margin-left: 80px; }
    .service-card .summary h4 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
      -webkit-transition: .2s ease-in-out all;
      -moz-transition: .2s ease-in-out all;
      transition: .2s ease-in-out all; }
    .service-card .summary p {
      font-size: 13px;
      -webkit-transition: .3s ease-in-out all;
      -moz-transition: .3s ease-in-out all;
      transition: .3s ease-in-out all;
      color: #5d9cec; }
  .service-card:hover {
    border: 1px solid #98bced;
    border-bottom-width: 2px;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    box-shadow: 0 3px 5px #d3ddeb; }

.env-vars {
  border: 2px solid #e9e9e9;
  border-radius: 3px; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

/**user**/
.settings {
  padding-left: 70px; }
  .settings .content-block {
    margin-top: 20px;
    padding: 0 20px; }

.top-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  margin: 0; }
  .top-layout .multi-step-sidebar {
    margin-left: 10px;
    background-color: transparent;
    min-width: 205px; }
    .top-layout .multi-step-sidebar li {
      position: relative;
      height: 40px;
      line-height: 40px;
      color: #9ba3af;
      background-color: #f5f7fa;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
      padding: 0 10px;
      border: 1px solid #e4e7ed;
      cursor: pointer;
      margin-bottom: -1px; }
      .top-layout .multi-step-sidebar li .icon-img.arrow {
        float: right;
        height: 12px;
        width: 12px;
        top: 15px;
        display: none; }
      .top-layout .multi-step-sidebar li.active {
        background-color: #fff;
        color: #3d444f; }
        .top-layout .multi-step-sidebar li.active .icon-img.arrow {
          display: block; }
      .top-layout .multi-step-sidebar li:hover .arrow {
        display: block !important; }

.top-layout-sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.top-layout-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin-left: 20px; }

.dao-layout-content.user {
  overflow: auto;
  margin-left: 20px; }

.multi-step-content-body {
  display: none; }
  .multi-step-content-body.active {
    display: block; }
  .multi-step-content-body .setting-pane {
    margin-bottom: 20px;
    border: 1px solid #e6e9ed;
    border-bottom-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(204, 209, 217, 0.3); }
    .multi-step-content-body .setting-pane .title-block {
      padding: 24px 30px 20px;
      border-bottom: 1px solid #e6e9ed;
      border-radius: 4px 4px 0 0;
      background-color: #f5f7fa;
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6); }
      .multi-step-content-body .setting-pane .title-block .title {
        font-size: 20px;
        line-height: 21px;
        margin: 0;
        color: #656d78;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
    .multi-step-content-body .setting-pane .setting-block {
      font-size: 14px;
      padding: 25px 30px;
      border-bottom: 1px solid #e6e9ed;
      background-color: #fff;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .multi-step-content-body .setting-pane .setting-block .setting-title {
        line-height: 24px;
        width: 133px;
        color: #434a54; }
      .multi-step-content-body .setting-pane .setting-block .setting-content {
        position: relative;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; }
  .multi-step-content-body .setting-block.button-block {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fbfcfc; }

.top-checkbox {
  position: relative;
  display: block;
  line-height: 24px; }
  .top-checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #3d444f;
    font-size: 14px; }
  .top-checkbox input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 6px;
    outline: none; }

.primary-section {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ed; }

.secondary-section .row-10 {
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box; }
.secondary-section .row-block {
  width: 49%;
  float: left;
  margin-left: 10px; }
.secondary-section h4 {
  color: #656d78;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px; }
.secondary-section p {
  color: #aab2bd; }
  .secondary-section p a {
    color: #4a89dc;
    font-weight: 500;
    font-size: 15px; }

/**闀滃儚椤甸潰**/
.steps {
  list-style: none;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 25%; }
  .steps:after {
    content: "";
    display: table;
    clear: both; }
  .steps li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    position: relative; }
    .steps li:not(.last):before, .steps li:not(.last):after {
      content: "";
      display: block;
      height: 3px;
      width: 50%;
      background-color: #e5e5e5;
      position: absolute; }
    .steps li.current:before {
      background-color: #7dc374; }
    .steps li.current .step-item {
      color: #7dc374; }
      .steps li.current .step-item:before {
        border-color: #7dc374; }
    .steps li.current.done:after {
      background-color: #7dc374; }
    .steps li .step-item {
      display: inline-block;
      font-weight: 700;
      text-indent: -10px;
      color: #999;
      position: relative; }
      .steps li .step-item:before {
        position: relative;
        z-index: 1;
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        margin-bottom: 5px;
        margin-left: 10px;
        border-radius: 50%;
        border: 3px solid #e5e5e5;
        background-color: #fff;
        box-sizing: border-box; }
      .steps li .step-item .icon-img {
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 11px;
        left: 21px;
        display: none; }
        .steps li .step-item .icon-img.active {
          display: block; }
    .steps li:not(.last):before {
      left: 30px;
      top: 20px; }
    .steps li:not(.last):after {
      right: -30px;
      top: 20px; }

.form .card {
  float: left;
  color: #444;
  font-size: 14px;
  text-align: center;
  width: 100%;
  max-width: 140px;
  margin: 10px;
  border-color: #f1f1f1;
  position: relative; }
  .form .card:hover {
    border-color: #000 !important; }
  .form .card.active {
    border-color: #398bce; }
    .form .card.active .top {
      background-color: #398bce;
      border-bottom-color: #398bce;
      color: #fff; }
  .form .card .top {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px; }
    .form .card .top h4 {
      font-weight: 700;
      font-size: 18px;
      padding: 10px 0; }
  .form .card img {
    width: auto;
    max-width: 100%;
    border-radius: 3px;
    margin-bottom: 5px; }
    .form .card img.small {
      width: 46px;
      height: 46px; }
  .form .card .bottom {
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; }
    .form .card .bottom .icon-img {
      height: 14px;
      width: 14px;
      float: none;
      display: inline-block; }
.form .form-group {
  margin-bottom: 60px; }
  .form .form-group.form-server {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px dashed #ccc; }
  .form .form-group.form-server:last-child {
    border-bottom: none; }

.card {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  margin-bottom: 20px;
  display: block; }
  .card.disabled {
    color: silver;
    opacity: .65;
    cursor: not-allowed; }
    .card.disabled:hover {
      border-color: #f1f1f1 !important; }

.ghost-toolbar li a {
  font-size: 14px !important; }

.deploy-button-group {
  position: relative;
  top: 50px; }
  .deploy-button-group button .icon-img {
    height: 15px;
    width: 15px;
    top: 5px; }
    .deploy-button-group button .icon-img.next {
      float: right;
      margin-left: 6px; }
  .deploy-button-group button.btn-success {
    padding-left: 120px;
    padding-right: 120px; }

/**闀滃儚浠撳簱**/
.dockerhub {
  padding: 40px 0 50px; }
  .dockerhub .title {
    margin: 0 0 20px;
    font-size: 24px; }
  .dockerhub .input-group {
    box-sizing: border-box;
    font-size: 14px;
    width: 400px;
    margin: 0 auto; }
    .dockerhub .input-group .top-select {
      float: left;
      width: 130px; }
      .dockerhub .input-group .top-select .dao-select-input {
        border-right-width: 0;
        border-radius: 4px 0 0 4px; }
    .dockerhub .input-group input.top-control {
      float: left;
      width: 270px;
      padding-right: 30px;
      border-radius: 0 4px 4px 0;
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 16px;
      box-sizing: border-box;
      background: url("data:image/svg+xml;utf8,<svg%20xmlns=%27http://www.w3.org/2000/svg%27%20fill=%27%23ccd1d9%27%20viewBox=%270%200%2032%2032%27><path%20d=%27M31.164,28.336l-8.39-8.39a12.024,12.024,0,1,0-2.828,2.828l8.39,8.39ZM3.5,13A9.5,9.5,0,1,1,13,22.5,9.511,9.511,0,0,1,3.5,13Z%27/></svg>") no-repeat #fff right 8px center;
      background-size: 16px; }
    .dockerhub .input-group .top-select-input {
      border-radius: 4px 0 0 4px;
      border-right: none; }

.top-select {
  color: #3d444f;
  position: relative;
  display: inline-block;
  width: 287px;
  vertical-align: middle; }
  .top-select.open .dao-select-input {
    background-color: rgba(204, 209, 217, 0.15);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07), inset 0 0 4px 0 rgba(0, 0, 0, 0.08); }
  .top-select .icon-img.pull {
    height: 13px;
    width: 13px;
    float: right;
    position: absolute;
    right: 10px;
    top: 11px; }

.top-select-input {
  width: 100%;
  position: relative;
  height: 32px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(61, 68, 79, 0.05)), to(rgba(61, 68, 79, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(61, 68, 79, 0.05), rgba(61, 68, 79, 0));
  background-image: linear-gradient(0deg, rgba(61, 68, 79, 0.05) 0, rgba(61, 68, 79, 0));
  border: 1px solid #ccd1d9;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; }

.top-select-chosen {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap; }

input.top-control {
  margin: 0;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 0 10px;
  width: 287px;
  height: 32px;
  color: #3d444f;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  box-shadow: none;
  background-color: #fff;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccd1d9;
  border-radius: 2px;
  line-height: 1;
  vertical-align: middle; }

.recommend {
  font-size: 14px;
  line-height: 1;
  color: #9ba3af; }
  .recommend .num {
    font-weight: bold; }

.package-item {
  margin-top: -1px;
  padding: 30px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  .package-item .image {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 3px;
    vertical-align: middle; }
  .package-item .title {
    padding-right: 30px;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2; }
    .package-item .title .link {
      text-decoration: none;
      color: #3890ff; }
      .package-item .title .link .username {
        color: #595f69; }
      .package-item .title .link .package-name {
        font-weight: 500;
        color: #3d444f; }
    .package-item .title .info {
      font-size: 13px;
      line-height: 20px;
      display: -webkit-box;
      overflow: hidden;
      max-height: 38px;
      text-overflow: -o-ellipsis-lastline;
      text-overflow: ellipsis;
      color: #787878;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 5px; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  text-align: left; }
  .table thead tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e5e5e5;
    padding: 6px; }
  .table tbody tr td {
    padding: 6px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #e5e5e5; }

table.table-editable {
  margin: 0; }
  table.table-editable thead {
    background-color: #ececec; }
  table.table-editable th {
    line-height: 2.5 !important; }
  table.table-editable .note {
    border-bottom: dashed 1px #08c; }
  table.table-editable td .icon-img.delete-icon, table.table-editable td .icon-img.is {
    height: 16px;
    width: 16px;
    top: 8px; }
  table.table-editable tbody td {
    cursor: pointer; }
  table.table-editable tfoot {
    text-align: center;
    background-color: #ececec; }
    table.table-editable tfoot tr > td {
      padding: 6px;
      line-height: 1.42857;
      vertical-align: top;
      border-top: 1px solid #e5e5e5;
      color: #5d9cec;
      font-size: 14px;
      cursor: pointer; }

.input-area .delete-icon {
  height: 14px;
  width: 14px;
  top: 10px;
  margin-left: 10px; }

input[type='checkbox'], input[type='radio'] {
  margin-right: 5px; }

/**寮瑰嚭**/
.top-alert .top-alert-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000; }
.top-alert .top-alert-content {
  background-color: #fff;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  z-index: 99999;
  font-family: "Microsoft YaHei";
  color: #333; }
.top-alert .ta-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }
  .top-alert .ta-icon.ta-error {
    border-color: #F27474; }
    .top-alert .ta-icon.ta-error .ta-x-mark {
      position: relative;
      display: block; }
    .top-alert .ta-icon.ta-error .ta-line {
      position: absolute;
      height: 5px;
      width: 47px;
      background-color: #F27474;
      display: block;
      top: 37px;
      border-radius: 2px; }
      .top-alert .ta-icon.ta-error .ta-line.ta-left {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 17px; }
      .top-alert .ta-icon.ta-error .ta-line.ta-right {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 16px; }
  .top-alert .ta-icon.ta-warning {
    border-color: #F8BB86; }
    .top-alert .ta-icon.ta-warning .ta-body {
      position: absolute;
      width: 5px;
      height: 47px;
      left: 50%;
      top: 10px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-left: -2px;
      background-color: #F8BB86; }
    .top-alert .ta-icon.ta-warning .ta-dot {
      position: absolute;
      width: 7px;
      height: 7px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-left: -3px;
      left: 50%;
      bottom: 10px;
      background-color: #F8BB86; }
  .top-alert .ta-icon.ta-info {
    border-color: #ccc; }
    .top-alert .ta-icon.ta-info::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 29px;
      left: 50%;
      bottom: 17px;
      border-radius: 2px;
      margin-left: -2px;
      background-color: #ccc; }
    .top-alert .ta-icon.ta-info::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-left: -3px;
      top: 19px;
      background-color: #ccc; }
  .top-alert .ta-icon.ta-success {
    border-color: #A5DC86; }
    .top-alert .ta-icon.ta-success .ta-line {
      height: 5px;
      background-color: #A5DC86;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 2; }
      .top-alert .ta-icon.ta-success .ta-line.ta-tip {
        width: 25px;
        left: 14px;
        top: 46px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .top-alert .ta-icon.ta-success .ta-line.ta-long {
        width: 47px;
        right: 8px;
        top: 38px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .top-alert .ta-icon.ta-success .ta-placeholder {
      width: 80px;
      height: 80px;
      border: 4px solid rgba(165, 220, 134, 0.2);
      -webkit-border-radius: 40px;
      border-radius: 40px;
      border-radius: 50%;
      box-sizing: content-box;
      position: absolute;
      left: -4px;
      top: -4px;
      z-index: 2; }
.top-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }
.top-alert p {
  color: #797979;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }
.top-alert .button {
  display: inline-block;
  background-color: #8CD4F5;
  color: #fff;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0;
  cursor: pointer;
  outline: none; }
  .top-alert .button.cancel {
    background-color: rgba(193, 193, 193, 0.9); }
    .top-alert .button.cancel:hover {
      background-color: #c1c1c1; }
  .top-alert .button.comfirm {
    display: inline-block;
    background-color: #dd6b55; }
    .top-alert .button.comfirm:hover {
      background-color: #d46752; }
  .top-alert .button.show {
    background-color: #8cd4f5; }
    .top-alert .button.show:hover {
      background-color: rgba(140, 212, 245, 0.8); }
  .top-alert .button.dark-blue {
    background: #398bce;
    color: #fff;
    margin: 0; }
  .top-alert .button.blue {
    background-color: #3890ff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.06)), to(rgba(255, 255, 255, 0.06))), -webkit-gradient(linear, left bottom, left top, from(rgba(9, 109, 236, 0.5)), to(rgba(76, 155, 255, 0.5)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), -webkit-linear-gradient(bottom, rgba(9, 109, 236, 0.5), rgba(76, 155, 255, 0.5));
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0, rgba(255, 255, 255, 0.06)), linear-gradient(0deg, rgba(9, 109, 236, 0.5) 0, rgba(76, 155, 255, 0.5));
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08), 0 1px 1px rgba(0, 0, 0, 0.08); }
.top-alert .resource h5 {
  font-size: 18px;
  text-align: left; }
.top-alert .resource .title {
  margin-top: -20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e9ed; }
  .top-alert .resource .title .dialog-close {
    float: right;
    position: relative;
    top: -23px;
    display: inline;
    height: 12px;
    width: 12px;
    padding: 2px;
    font-size: 16px;
    line-height: 1;
    color: #999;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s; }
    .top-alert .resource .title .dialog-close div {
      display: inline-block;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      left: 1px;
      position: relative;
      top: -1px; }
    .top-alert .resource .title .dialog-close div:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      position: relative;
      left: 0px;
      top: -17px; }
.top-alert .resource .content {
  font-size: 12px;
  padding: 8px 0 21px 0;
  color: #333;
  overflow: hidden; }
  .top-alert .resource .content .content-box {
    background: #fafafa;
    overflow-x: auto;
    border-radius: 10px;
    padding: 20px;
    max-height: 400px;
    border-left: 0 none;
    max-width: 1000px;
    margin-top: 15px; }
    .top-alert .resource .content .content-box .group {
      margin: 10px 0 20px 0;
      max-width: 940px;
      text-align: left; }
      .top-alert .resource .content .content-box .group .label {
        margin-right: 10px;
        color: #787878; }
.top-alert .resource .top-btn {
  padding: 10px 20px; }

.pulseWarning {
  -webkit-animation: pulseWarning .75s infinite alternate;
  animation: pulseWarning .75s infinite alternate; }

.alertify-logs {
  position: fixed;
  z-index: 99;
  top: 100px;
  width: 280px;
  min-height: 60px;
  word-break: break-all;
  right: -300px;
  -webkit-transition: .5s ease-in-out all;
  -moz-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box; }
  .alertify-logs.alertify-success {
    background: rgba(22, 159, 45, 0.9); }
  .alertify-logs.alertify-error {
    background: rgba(231, 76, 60, 0.9); }
  .alertify-logs .icon-img {
    height: 22px;
    width: 22px;
    top: 0;
    margin-right: 10px; }

/**闆嗙兢妗岄潰**/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 10px; }

.cluster .panel {
  border-radius: 4px;
  border-color: #dee1e2;
  box-shadow: 0 2px 5.8px 0.2px rgba(0, 0, 0, 0.06); }
  .cluster .panel.panel-cluster {
    height: auto; }
    .cluster .panel.panel-cluster .panel-heading {
      padding: 15px; }
.cluster .panel-heading {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5; }
  .cluster .panel-heading .label-ghost {
    display: inline-block;
    color: #12c55a;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 10px;
    border: 1px solid #12c55a;
    background-color: transparent;
    position: relative;
    top: -4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px; }
.cluster .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  font-weight: 500;
  font-size: 17px; }
.cluster .panel-content {
  padding: 20px 15px; }
.cluster .panel-col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box; }
  .cluster .panel-col.col-1 {
    width: 100%; }
  .cluster .panel-col.col-2 {
    width: 50%; }
  .cluster .panel-col.col-3 {
    width: 33.3333%; }
  .cluster .panel-col.col-4 {
    width: 25%; }
  .cluster .panel-col.col-2_3 {
    width: 66.6666%; }

.area-btn {
  margin: 0 -2px 2px 0;
  text-align: center;
  display: inline-block;
  width: 127px;
  height: 36px;
  border-width: 0;
  background: #e8e8e8;
  font-size: 18px;
  line-height: 2;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  height: auto;
  line-height: 28px;
  font-size: 12px;
  width: 121px; }
  .area-btn.active {
    background: #398bce;
    color: #fff;
    cursor: default; }

.panel.resource .choose-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  top: 0;
  cursor: pointer; }
.panel.resource .resource-slider .slider {
  width: 400px; }
.panel.resource .resource-slider .slider-track {
  height: 25px;
  margin-top: -10px;
  border-radius: 0; }
.panel.resource .resource-slider .slider-handle {
  height: 31px;
  width: 15px;
  border-radius: 0;
  margin-left: 0;
  top: -3px; }
.panel.resource .resource-slider .slider-tick {
  width: 1px;
  height: 25px;
  margin-left: 0;
  border-radius: 0;
  background: #ddd; }
  .panel.resource .resource-slider .slider-tick:last-child {
    display: none; }
.panel.resource .resource-slider .slider-selection {
  border-radius: 0; }
.panel.resource .resource-slider .slider.slider-horizontal .slider-tick-label-container {
  margin-top: 25px; }
.panel.resource input[type=number] {
  border: solid 1px #ccc;
  height: 25px;
  position: relative;
  top: -6px;
  margin-left: 30px; }
.panel.resource .account {
  border-left: 1px solid #e6e9ed;
  padding: 0 30px;
  height: 100%; }
  .panel.resource .account h3 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px; }

.area-btn input {
  display: none; }

.area-btn.active input {
  display: none; }

.withinput .area-btn {
  padding: 0; }

.withinput .area-btn span {
  padding: 0;
  width: 121px;
  display: inline-block;
  cursor: pointer; }

.withinput .area-btn.active span {
  padding: 0;
  width: 84px;
  text-align: center; }

.withinput .area-btn input {
  display: none; }

.withinput .area-btn.active input {
  display: inline-block;
  width: 40px;
  top: 0;
  margin-left: -3px;
  height: 28px;
  z-index: 999;
  color: #555;
  box-sizing: border-box; }

.withinput .area-btn.active {
  margin-right: -2px;
  width: auto;
  padding: 0; }

/*# sourceMappingURL=platform.css.map */
