<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="CONSOLE_LOG_PATTERN" value="[%X{TRACE_ID}] [%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger \\(%file:%line\\) - %msg%n"/>
	<property name="FILE_LOG_PATTERN" value="[%X{TRACE_ID}] [%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger \\(%file:%line\\) - %msg%n"/>
	<!-- 开发环境 -->
	<springProfile name="dev">
		<logger name="com.example" level="DEBUG"/>
	</springProfile>
	<!-- 非开发环境 -->
	<springProfile name="!dev">
		<property name="LOG_FILE" value="logs/test.log"/>
		<logger name="com.example.LogController" level="INFO"/>
	</springProfile>
	<!-- 生产环境 -->
	<springProfile name="production">
		<property name="LOG_FILE" value="logs/test.log"/>
	    <logger name="com.example.LogController" level="INFO"/>
	</springProfile>
	<!-- 需要放在 property之后，property属性设置才有作用 -->
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>
